@font-face {
	font-family: content_text;
        src: url('../../lib/fonts/Droid-Naskh-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: kufi;
        src: url('../../lib/fonts/DroidKufi-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: title;
        src: url('../../lib/fonts/DroidKufi-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: menu;
        src: url('../../lib/fonts/DroidKufi-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}


/*
@font-face {
	font-family: saharat;
	src: url('../../lib/fonts/Hacen-Sahara-TX-Thin.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: sahara;
	src: url('../../lib/fonts/Hacen-Sahara.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: naskhb;
        src: url('../../lib/fonts/Droid-Naskh-Bold.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: kufi;
        src: url('../../lib/fonts/DroidKufi-Regular.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: kufib;
        src: url('../../lib/fonts/DroidKufi-Bold.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: jamil;
        src: url('../../lib/fonts/jamil-lt.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: majalla;
	src: url('../../lib/fonts/majalla.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: maghreb;
	src: url('../../lib/fonts/Hacen_Maghreb_Lt.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: maghrebbold;
	src: url('../../lib/fonts/Hacen_Maghreb_Bd.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}
      
@font-face {
	font-family: gess;
	src: url('../../lib/fonts/GE_SS_Two_Light.eot');
	src: url('../../lib/fonts/GE_SS_Two_Light.woff') format("woff"),
		url('../../lib/fonts/GE_SS_Two_Light.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: rgt;
	src: url('../../lib/fonts/HelveticaNeueW23-Reg.eot');
	src: url('../../lib/fonts/HelveticaNeueW23-Reg.woff') format("woff"),
		url('../../lib/fonts/HelveticaNeueW23-Reg.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: rgtbold;
	src: url('../../lib/fonts/HelveticaNeueW23-Bd.eot');
	src: url('../../lib/fonts/HelveticaNeueW23-Bd.woff') format("woff"),
		url('../../lib/fonts/HelveticaNeueW23-Bd.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: news_title;
	src: url('../../lib/fonts/news_title.eot');
	src: url('../../lib/fonts/news_title.woff') format("woff"),
		url('../../lib/fonts/news_title.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    src: local('Cairo Bold'), local('Cairo-Bold'), url('../../lib/fonts/cairo.woff2') format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

@font-face {
  font-family: 'title_raj';
  font-style: normal;
  font-weight: 400;
  src: url('../../lib/fonts/title.ttf') format('truetype'), url('../../lib/fonts/title.woff') format('woff'), url('../../lib/fonts/title.eot'), url('../../lib/fonts/title.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'body_raj';
  font-style: normal;
  font-weight: 400;
  src: url('../../lib/fonts/body.ttf') format('truetype'), url('../../lib/fonts/body.woff') format('woff'), url('../../lib/fonts/body.eot'), url('../../lib/fonts/body.eot?#iefix') format('embedded-opentype');
}
*/

body {
	direction: rtl;
	font-family: kufi, Arial, tahoma, sans-serif;
	font-size: 14px;
	line-height: 130%;
}

.ui-tooltip {
        font-family: kufi, Arial, tahoma, sans-serif;
}