.hzm3-col,
.hzm3-half,
.hzm3-third,
.hzm3-twothird,
.hzm3-threequarter,
.hzm3-quarter {
    float: left;
    width: 100%;
}

table.dataTable.display>thead>tr>th, table.dataTable.display>tfoot>tr>th {
    text-align: left !important;
    padding-left: 24px !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    text-align: left !important;
}

div.my_link.nice {
    float: left !important;
}

.hzm_tooltip_error {
    float: right;
}