@media (max-width:1240px)
{
    /*
    .btn-qsearch {
        width: 48% !important;
        margin-top: 5px !important; 
        margin-bottom: 5px !important; 
        margin-left: 1% !important; 
        margin-right: 1% !important; 
    }*/


    .btn-centered-1-btn-1{
        margin-right: 20% !important;
        margin-left: 20% !important;
        width: 60% !important;
    }

    .btn-centered-2-btn-1{
        margin-right: 4% !important;
        margin-left: 1% !important;
        width: 45% !important;
    }

    .btn-centered-2-btn-2{
        margin-right: 1% !important;
        margin-left: 4% !important;
        width: 45% !important;
    }

    .btn-centered-3-btn-1{
        margin-right: 1% !important;
        margin-left: 1% !important;
        width: 31%;
    }

    .btn-centered-3-btn-2{
        margin-right: 1% !important;
        margin-left: 1% !important;
        width: 31%;
    }

    .btn-centered-3-btn-3{
        margin-right: 1% !important;
        margin-left: 1% !important;
        width: 31%;
    }
    
    .btn-centered-4-btn-1 {
        margin-right: 4% !important;
        margin-left: 1% !important;
        width: 45% !important;
    }
    
    .btn-centered-4-btn-2 {
        margin-right: 1% !important;
        margin-left: 4% !important;
        width: 45% !important;
    }
    
    .btn-centered-4-btn-3 {
        margin-right: 4% !important;
        margin-left: 1% !important;
        width: 45% !important;
    }
    
    .btn-centered-4-btn-4 {
        margin-right: 1% !important;
        margin-left: 4% !important;
        width: 45% !important;
    }
    
    .btn-centered-5-btn-1 {
        margin-right: 1% !important;
        margin-left: 4% !important;
        width: 45% !important;
    }
    
    .btn-centered-5-btn-2 {
        margin-right: 1% !important;
        margin-left: 4% !important;
        width: 45% !important;
    }
    
    .btn-centered-5-btn-3 {
        margin-right: 1% !important;
        margin-left: 4% !important;
        width: 45% !important;
    }
    
    .btn-centered-5-btn-4 {
        margin-right: 1% !important;
        margin-left: 4% !important;
        width: 45% !important;
    }
    
    .btn-centered-5-btn-5 {
        margin-right: 20% !important;
        margin-left: 20% !important;
        width: 60%;
    }
    
    .btn-centered-6-btn-1 {
        margin-right: 1% !important;
        margin-left: 1% !important;
        width: 31%;
    }
    
    .btn-centered-6-btn-2 {
        margin-right: 1% !important;
        margin-left: 1% !important;
        width: 31%;
    }
    
    .btn-centered-6-btn-3 {
        margin-right: 1% !important;
        margin-left: 1% !important;
        width: 31%;
    }
    
    .btn-centered-6-btn-4 {
        margin-right: 1% !important;
        margin-left: 1% !important;
        width: 31%;
    }
    
    .btn-centered-6-btn-5 {
        margin-right: 1% !important;
        margin-left: 1% !important;
        width: 31%;
    }
    
    .btn-centered-6-btn-6 {
        margin-right: 1% !important;
        margin-left: 1% !important;
        width: 31%;
    }
    
    .btn-centered-7-btn-1 {
        margin-right: 1% !important;
        margin-left: 1% !important;
        width: 31%;
    }
    
    .btn-centered-7-btn-2 {
        margin-right: 1% !important;
        margin-left: 1% !important;
        width: 31%;
    }
    
    .btn-centered-7-btn-3 {
        margin-right: 1% !important;
        margin-left: 1% !important;
        width: 31%;
    }
    
    .btn-centered-7-btn-4 {
        margin-right: 1% !important;
        margin-left: 1% !important;
        width: 31%;
    }
    
    .btn-centered-7-btn-5 {
        margin-right: 1% !important;
        margin-left: 1% !important;
        width: 31%;
    }
    
    .btn-centered-7-btn-6 {
        margin-right: 1% !important;
        margin-left: 1% !important;
        width: 31%;
    }
    
    .btn-centered-7-btn-7 {
        margin-right: 20% !important;
        margin-left: 20% !important;
        width: 60%;
    }
    
    .btn-centered-8-btn-1 {
        margin-right: 4% !important;
        margin-left: 1% !important;
        width: 45%;
    }
    
    .btn-centered-8-btn-2 {
        margin-right: 1% !important;
        margin-left: 4% !important;
        width: 45%;
    }
    
    .btn-centered-8-btn-3 {
        margin-right: 4% !important;
        margin-left: 1% !important;
        width: 45%;
    }
    
    .btn-centered-8-btn-4 {
        margin-right: 1% !important;
        margin-left: 4% !important;
        width: 45%;
    }
    
    .btn-centered-8-btn-5 {
        margin-right: 4% !important;
        margin-left: 1% !important;
        width: 45%;
    }
    
    .btn-centered-8-btn-6 {
        margin-right: 1% !important;
        margin-left: 4% !important;
        width: 45%;
    }
    
    .btn-centered-8-btn-7 {
        margin-right: 4% !important;
        margin-left: 1% !important;
        width: 45%;
    }
    
    .btn-centered-8-btn-8 {
        margin-right: 1% !important;
        margin-left: 4% !important;
        width: 45%;
    }

    .col-md-12 {
        width: 100% !important;
    }
    
    .col-md-11 {
        width: 100% !important;
    }
    
    .col-md-10,.col-10 {
        width: 100% !important;
    }
    
    .col-md-9,.col-9 {
        width: 100% !important;
        min-width: 450px;
    }
    
    .col-md-8 {
        width: 100% !important;
        min-width: 400px;
    }
    
    .col-md-7 {
        width: 50% !important;
        min-width: 350px;
            
    }
    
    .col-md-6 {
        width: 50% !important;
        min-width: 300px;
    }
    
    .col-md-5 {
        width: 50% !important;
        min-width: 250px;
    }
    
    .col-md-4 {
        width: 50% !important;
        min-width: 200px;
    }
    
    .col-md-3 {
        width: 50% !important;
        min-width: 150px;
    }
    
    .col-md-2 {
        width: 50% !important;
        min-width: 100px;
    }
    
    .col-md-1 {
        width: 50% !important;
        min-width: 50px;
    }

    div.qsearch_page {
        padding-left: 2% !important;
        padding-right: 2% !important;
        width: 96% !important;
    }

    table.search_result_table {
        margin-right: 2% !important;
        margin-left: 2% !important;
        width: 96%;
    }

    .btns-qsearch {
        margin-right: 2% !important;
        margin-left: 2% !important;
        width: 96%;
    }
}
