div.otherlinks.fleft {
    width: 100%;
}

div.otherlinks.fleft>div {
    width: 54px;
    margin-left: 20%;
    float: left;
}

td.col-qe.col-qe-5 {
    width:5%;
    max-width:5%;
    overflow: hidden;
}

td.col-qe.col-qe-10 {
    width:10%;
    max-width:10%;
    overflow: hidden;
}

td.col-qe.col-qe-15 {
    width:15%;
    max-width:15%;
    overflow: hidden;
}

td.col-qe.col-qe-20 {
    width:20%;
    max-width:20%;
    overflow: hidden;
}

td.col-qe.col-qe-25 {
    width:25%;
    max-width:25%;
    overflow: hidden;
}

td.col-qe.col-qe-30 {
    width:30%;
    max-width:30%;
    overflow: hidden;
}

td.col-qe.col-qe-35 {
    width:35%;
    max-width:35%;
    overflow: hidden;
}

td.col-qe.col-qe-40 {
    width:40%;
    max-width:40%;
    overflow: hidden;
}

td.col-qe.col-qe-45 {
    width:45%;
    max-width:45%;
    overflow: hidden;
}

td.col-qe.col-qe-50 {
    width:50%;
    max-width:50%;
    overflow: hidden;
}

td.col-qe.col-qe-55 {
    width:55%;
    max-width:55%;
    overflow: hidden;
}

td.col-qe.col-qe-60 {
    width:60%;
    max-width:60%;
    overflow: hidden;
}

td.col-qe.col-qe-65 {
    width:65%;
    max-width:65%;
    overflow: hidden;
}

td.col-qe.col-qe-70 {
    width:70%;
    max-width:70%;
    overflow: hidden;
}

td.col-qe.col-qe-75 {
    width:75%;
    max-width:75%;
    overflow: hidden;
}

td.col-qe.col-qe-80 {
    width:80%;
    max-width:80%;
    overflow: hidden;
}

td.col-qe.col-qe-85 {
    width:85%;
    max-width:85%;
    overflow: hidden;
}

td.col-qe.col-qe-90 {
    width:90%;
    max-width:90%;
    overflow: hidden;
}

td.col-qe.col-qe-95 {
    width:95%;
    max-width:95%;
    overflow: hidden;
}

td.col-qe.col-qe-100 {
    width:100%;
    max-width:100%;
    overflow: hidden;
}

td.col-qe>input {
    min-height: 37px !important;
    border: 1px solid #b3a1a1 !important;
    margin-right: 15px;
    width: 80% !important;
    max-width: none !important;
}

td.col-qe>select {
    width: 80% !important;
    margin-right: 15px !important;
}

.inputcourt {
    padding: 3px 3px 3px 3px;
    max-width: 100px !important;
    min-width: 80px;
    width: 80% !important;
    margin-right: 10%;
    font-size: 12px !important;
}

@media screen and (max-width: 570px) {
    td.col-qe>input {
        width: 100% !important;
        margin: 0;
    }
    
    td.col-qe>select {
        width: 97% !important;
        margin: 0;
    }
    
    .inputcourt {
        width: 100% !important;
        margin: 0;
    }
}

label.imbedded-label {
    text-wrap: nowrap;
    overflow: hidden;
    font-weight: bold !important;
    text-align: right;
    padding-right: 20px;
}

.qe-header-head > td {
    background-color: #b3d9fb !important;
}

input.small {
    font-size: 12px !important;
    padding: 0px 2px !important;
    height: 28px !important;
    width: 30% !important;
    margin-right: 35% !important;
}