
        .container { margin: 150px auto; max-width: 960px; }
        

        .window {
            font-weight: normal;
            cursor: pointer;
            border:none !important;
            box-shadow: 2px 2px 10px #aaa;
            -o-box-shadow: 2px 2px 10px #aaa;
            -webkit-box-shadow: 2px 2px 10px #aaa;
            -moz-box-shadow: 2px 2px 10px #aaa;
            -moz-border-radius:0.5em;
            border-radius:0.5em;
            /*
            opacity:0.8;
            filter:alpha(opacity=80);
            */
            width: 15em; 
            height: 70px; /* auto;*/
            min-height: 70px;
            padding: 0.5em 0em;
            text-align:center;
            z-index:20; position:absolute;
            background-color:#eeeeef;
            color:black;
            font-family:menu;
            font-size:0.9em;
            word-wrap:break-word;
        }

        .window:hover {
            box-shadow: 2px 2px 10px #444;
            -o-box-shadow: 2px 2px 10px #444;
            -webkit-box-shadow: 2px 2px 10px #444;
            -moz-box-shadow: 2px 2px 10px #444;
            /*
            opacity:0.6;
            filter:alpha(opacity=60);
            */
        }

        /*
        .window > div {
            margin-top: 19%;
            margin-bottom: 19%;
        }
        */

        .hiddon {
            display: none;
        }

        .collapser {
            cursor: pointer;
            border:1px dotted gray;
            z-index:21;
        }

        .errorWindow {
            border: 2px solid red;
        }

        #treemain {
            height: 2500px;
            width: 90%;
            position: relative;
            overflow: auto;
            margin-left: 10% !important;
        }

        span.count.app {
            margin-top: 8px !important;
            border-radius: 50%;
            background-color: red;
            /* margin: 10px; */
            width: 32px !important;
            height: 22px !important;
            display: block;
            float: left;
            margin-left: calc(50% - 21px);
            padding: 1px 5px;
        }

        