
        .container { margin: 150px auto; max-width: 960px; }
        .window.module {
            background-color: #076066;
            color: wheat;
        }

        .window.model {
            background-color: #076066;
            color: wheat;
        }

        .window.stage {            
            background-color: #309607;
            color: rgb(255, 255, 255);
        }

        .window.status {
            background-color: #0e5ec7;
            color: rgb(255, 255, 255);
        }

        .window.action {
            background-color: rgb(180, 119, 6);
            color: rgb(255, 255, 255);
        }

        .window {
            font-weight: bold;
            cursor: pointer;
            border:1px solid #346789;
            box-shadow: 2px 2px 10px #aaa;
            -o-box-shadow: 2px 2px 10px #aaa;
            -webkit-box-shadow: 2px 2px 10px #aaa;
            -moz-box-shadow: 2px 2px 10px #aaa;
            -moz-border-radius:0.5em;
            border-radius:0.5em;
            /*
            opacity:0.8;
            filter:alpha(opacity=80);
            */
            width: 15em; height: auto;
            padding: 0.5em 0em;
            text-align:center;
            z-index:20; position:absolute;
            background-color:#eeeeef;
            color:black;
            font-family:menu;
            font-size:0.9em;
            word-wrap:break-word;
        }

        .window:hover {
            box-shadow: 2px 2px 10px #444;
            -o-box-shadow: 2px 2px 10px #444;
            -webkit-box-shadow: 2px 2px 10px #444;
            -moz-box-shadow: 2px 2px 10px #444;
            /*
            opacity:0.6;
            filter:alpha(opacity=60);
            */
        }

        /*
        .window > div {
            margin-top: 19%;
            margin-bottom: 19%;
        }
        */

        .hiddon {
            display: none;
        }

        .collapser {
            cursor: pointer;
            border:1px dotted gray;
            z-index:21;
        }

        .errorWindow {
            border: 2px solid red;
        }

        #treemain {
            height: 500px;
            width: 80%;
            position: relative;
            overflow: auto;
            margin-left: 10% !important;
        }

    