
ul.nav-links>li.active>a>span, ul.nav-links>li.active>a>i:before {
    color: #266CC6 !important;
    font-weight: bold;
}

.dashboard .dash-content{
    padding-top: 60px;
    min-height: 800px;
    height: min-content;
    /* display: flex; */
}

.dashboard .top .search-box {
    position: relative;
    height: 45px;
    /* max-width: 600px; */
    width: calc(100% - 470px);
    margin: 0 30px;
}

.hzm-user-account.hzm-container-center.hzm-custom-icon-container {
    border-radius: 50% !important;
    background-color: silver;
    overflow: hidden;
    width: 32px;
    height: 32px;
    text-align: center;
    padding-top: 5px;
    margin-left: 3%;
}

i.hzm-container-center.hzm-vertical-align-middle.hzm-icon-std.hzm-user-account.fa-user {
    font-size: 32px;
    color: #777777;
}

div.hzm-user-account > a > i.hzm-container-center.hzm-vertical-align-middle.hzm-icon-std.hzm-user-account.fa-user {
    color: white;
}

.user-account {
    font-size: 12px;
    color: #fff;
    /* font-weight: bold;*/ 
    padding-top: 4px;
}

.dashboard .top{
    position: fixed;
    top: 0;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 9999999;
    max-height: 67px;
}

.menu-items li a i{
    font-size: 16px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.close {
    opacity: .6;
}

nav>.calendar_bloc_g {
    margin-left: 23% !important;
    margin-right: 23% !important;
}

nav.close>.calendar_bloc_g {
    display: none;
    visibility: hidden;
}

.form_left {
    min-height: 80px;
    margin: 0;
    float: left;
    border: none;
    width: 100%;
    height: 100%;
}

.form_right.form_right_wizardv1_li {
    border: none;
    min-height: 450px;
    width: 99%;
}



button.bf.hzm-specialmethod {
    width: 23%;
    max-width: 450px;
    margin-right: 1%;
    margin-left: 1%;
    min-height: 120px;
}

.bf {
    background-color: transparent;
    margin: 1%;
    border: none;
    padding: 10px !important;
}


.bf-gray .hzm-otherlink.hzm-otherlink-icon-container.only-border.border-primary {
    border-color: #6e6c6c;
}

.bf-gray .hzm-container-center.hzm-vertical-align-middle.hzm-icon-run {
    color: #6e6c6c !important;
}

.bf.bf-green {
    border: none !important;
    color: white !important;
    background-color: #0f700f !important;
}


.bf.bf-green:hover {
    border: none !important;
    color: #d8f5ce !important;
    background-color: #37a137 !important;
}

.bf.bf-gray {
    border: none !important;
    color: white !important;
    background-color: #626362 !important;
}

.bf.bf-gray:hover {
    border: none !important;
    color: white !important;
    background-color: #424342 !important;
}


.bf.bf-red {
    border: none !important;
    color: #fff4f4 !important;
    background-color: #CB2027 !important;
}

.bf.bf-red:hover {
    border: none !important;
    color: white !important;
    background-color: #ed0d0d !important;
    text-shadow: 1px 1px 1px #c46734;
}

.bf.bf-blue {
    border: none !important;
    color: white !important;
    background-color: #4267B2 !important;    
}

.bf.bf-blue:hover {
    border: none !important;
    background-color: rgb(27, 134, 192) !important;
    color: rgb(170 203 245) !important;
    text-shadow: 1px 1px 1px #1795c3;
}

.bf.bf-yellow {
    border: none !important;
    color: white !important;
    background-color: #95D03A !important;
}

.bf.bf-yellow:hover {
    border: none !important;
    color: #f6f8c5 !important;
    background-color: #669620 !important;
}


.bf.bf-purple {
    border: none !important;
    color: white !important;
    background-color: #8d20bd !important;
}

.bf.bf-purple:hover {
    border: none !important;
    color: #e5cfee !important;
    color: #8d20bd !important;
}

.bf.bf-orange {
    border: none !important;
    color: white !important;
    background-color: #ff8a00 !important;
}


.bf.bf-orange:hover {
    border: none !important;
    color: #ffffff !important;
    background-color: orange !important;
}

.bf.bf-black {
    border: none !important;
    color: white !important;
    background-color: #000000 !important;
}


.bf.bf-black:hover {
    border: none !important;
    color: white !important;
    background-color: #221529 !important;
}


.hzm-user-account.ubg0 {
    background-color: #bd206a !important;
}

.hzm-user-account.ubg1 {
    background-color: #2059bd !important;
}

.hzm-user-account.ubg2 {
    background-color: #e36a18 !important;
}

.hzm-user-account.ubg3 {
    background-color: #8d20bd !important;
}

.hzm-user-account.ubg4 {
    background-color: #1d9b13 !important;
}




button.bf.hzm-otherlink {
    width: 23%;
    /* border: 1px #aed8fbb0 solid;
    background-color: #f5faff;*/
    border: none;
    background-color: transparent;
    color: #0c5cb1;
    margin-bottom: 10px;
    margin-left: 1%;
    min-height: 120px;
    height: auto;
    margin-right: 1%;
    overflow: hidden;
    padding: 8px 5px !important;
}

.form-control {    
    border: 1px solid #cccccc4a !important;
}

.editcard {
    width: 98%;
    min-height: 650px;
    min-width: 400px;
    margin: auto;
    margin-top: 0px;
    background-color: #ffffffc2;
}

.panel-heading {
    color: #1169d3;
    background-color: transparent;
    min-height: 44px;
    padding: 5px 15px;
    margin-top: 0px;
    border: none;
    width: 100%;
}

.wizardv1 {
    background-color: transparent;
    border: none !important;
    width: 100%;
    padding: 0;
}

.hzm_form_panel.hzm_step_body_wizardv1_li {
    border-width: 1px 0 1px 1px;
    border-color: white;
    border-style: solid;
    float: right;
    padding: 0px;
}

.wizardv1 .steps_wizardv1 {
    width: 16%;
    min-width: 190px;
    margin-left: 0px;
    padding-right: 0px;
    background-color: white;
    padding-top: 58px;
    border-width: 1px 1px 1px 0;
    border-color: white;
    border-style: solid;
}

.steps_wizardv1 ul {
    border: 1px solid white;
    /* border-right: 3px solid rgba(193, 208, 238, 0.4); */
    padding: 0;
    margin: 0;
    list-style: none;
    min-height: 450px;
}

li.wizardv1_li.CurrentStep {
    background-color: #4dc6ff !important;
    border-radius: 0 0 0 0 !important;
}

li.wizardv1_li.AlreadyStep {
    border-right: 1px solid silver !important;
    border-top: 1px solid silver !important;
    border-right: 1px solid #96ccfaa6 !important;
    border-top: 1px solid #96ccfaa6 !important;
    background-color: #d6f2ff52 !important;
}


.rea_filebox {
    padding: 0;
    height: 100%;
    margin: 0;
    min-height: 827px;
    background-color: rgba(255, 255, 255, 0.65);
    transition: all ease-in-out 0.5s;
}

.hzm_label {
    font-family: title;
    color: #161718;
    font-size: 100%;
    font-weight: normal !important;
    text-shadow: #c6f7f4 1px 2px;
    padding-right: 15px !important;
}



.panel-heading>h3>span {
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    font-family: title;
    line-height: 28px;
    font-weight: normal;
    color: #182228;
}

i.uil.uil-moon {
    margin: 5px;
}


.fa-signout:before { 
    content: '\f2f5'; 
}

.header_notification_warp {
    margin-right: 8px;
    margin-left: 8px;
    min-width:100px;
}

.header_notification_warp li {
    display: inline-block;
    list-style: none;
}

.header_notification_warp li a {
    font-size: 20px;
    color: #929BB5;
    position: relative;
    margin: 4px;
    padding: 4px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
}

.top .header_notification_warp li a > img, svg {
    vertical-align: middle;
    width: 30px !important;
    height: 30px !important;
}

.mbsc-icon>svg {
    fill: currentColor;
    display: block;
    height: 100% !important;
    margin: 0 auto;
    width: 100% !important;
}

nav span.orgunit {
    font-size: 11px;
    font-weight: bold;
    color: #0670bb;
}

.hzm-user-account.admin {
    background-color: #678a04 !important;
}

.hzm-user-account.admin>a>div
{
    color: #e7f851;
}