/* header and menus */
header.top-header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #fff, #fff);
    z-index: 0;
    padding-bottom: 0;
    transition: all .3s ease-in;
    max-height: 220px;
}

.hzm_body.no_spaces {
    background-image: none !important;
    background-color: white !important;
}

.hzm_body {
    background-color: white !important;
}

ul.hzm_front_menu_bar.hzm_front_menu_bar.nav.navbar-nav>li>a.aregister {
    border: none !important;
    background-color: white !important;
    color: black !important;
    font-weight: normal;
}

ul.hzm_front_menu_bar>li {
    border: 1px #4460833d solid !important;    
    /* margin-left: 35px; */
    background-color: white !important;
}

ul.hzm_front_menu_bar.hzm_front_menu_bar.nav.navbar-nav>li.active>a {
    color: #fff;
    background-color: #0e5089 !important;
    border-color: #0e5089 !important;
    background-image: none !important;
    background-repeat: no-repeat !important;
}

.navbar-nav>li>a {
    color: #4671a9 !important
}



.cms_container.navbar.navbar-inverse {
    width: 86% !important;
    margin-left: 7% !important;
    margin-right: 7% !important;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #0b0c0b !important;
    background-color: white !important;
}

.navbar-nav>li>a.alogin {
    background-color: white !important;
    color: #0b0c0b !important;
}

.navbar-nav>li>a.alogout {
    background-color: white !important;
    color: #0b0c0b !important;
    /* text-shadow: 1px 0px #f3f3f3; */
    border: none !important;
    font-weight: normal;
    min-height: 34px;
    padding-top: 6px !important;
    text-align: center !important;
}

/* titles, labels and buttons */

.bluetitle.search {
    font-size: 168%;
    font-weight: normal !important;
    color: white;
    text-shadow: 4px 4px 8px silver;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 10px;
    background-color: #07224bf7;
}   

.bluetitle i {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #50bef1;
    margin-left: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #1387d9;
    position: relative;
    top: 0px;
    border-radius: 50%;
}

h5.bluetitle.search {
    font-size: 200%;
    font-weight: bold;
    padding-right: 10px;
    border-bottom: 1px solid #1280d2;
    padding-bottom: 15px;
}



/*  tables */

table.dataTable {
    width: 90%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    border-style: none;
    box-shadow: 5px 6px 10px #b6cef9c9;
    border-width: 1px;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 10px 6px 18px;
    border-bottom: 1px solid rgb(111 171 168 / 75%);
    font-size: 100% !important;
    font-family: title;
    text-align: right;
}


table.dataTable thead th, table.dataTable tfoot th {
    background-color: white !important;
    color: #0f2951 !important;
    font-weight: bold;
    padding-right: 5px !important;
}

table.dataTable tbody tr {
    background-color: rgb(233 244 255);
}

table.dataTable thead th.xqe_hf_z, table.dataTable tfoot th.xqe_hf_z {
    background-color: #04605d !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #6d9297 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
    font-weight: normal;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #0e6663e0;
}
.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding: 7px;
    font-weight: normal;
    font-size: 95%;
}

tr.altitem {
    background-color: white;
    border-top: 1px solid silver;
}

tr.item {
    background-color: white;
    border-top: 1px solid silver;
}

tbody tr.odd {
    background-color: rgb(255, 255, 255) !important;
}

tbody tr.even {
    background-color: rgb(255, 255, 255) !important;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 2px solid rgb(119 165 155 / 37%);
}




/*  buttons*/
.submit-btn {
    display: inline-block;
    padding: 7px 0px !important;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center !important;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    margin-top: 3px;
}

.btn-plus {
    background-image: url('../../lib/images/plus.png') !important;
    background-size: 16px 16px !important;
    background-repeat: no-repeat !important;
    background-position: 22px 12px !important;
}


.btn img {
	max-width: 24px;
	max-height: 24px;
}

.btn-primary {
    color: #fff;
    background-color: #0096ff;
    border-color: #137ac3 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3eaaf6;
    border-color: #188ee1 !important;
}

.closebtn {
	color: #fff;
        background: #341300 url('../../lib/images/close.png') no-repeat 95px center !important;
}

.closebtn:hover {
	color: #fff857;
}

.closebtn:active {
	color: #fff857;
}

.graybtn {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.graybtn:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.graybtn:disabled {
     color: #999 !important;
}

.graybtn:active {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.blightbtn {
    color: #3374b6;
    background-color: #ffffffbd;
    border: 1px solid #3374b6 !important;
}

.blightbtn:hover {
    color: #3364c6;
    background-color: #fff;
    border: 1px solid #3364c6 !important;
}

.blightbtn:disabled {
     color: #999 !important;
}

.blightbtn:active {
    color: #3364c6;
    background-color: #ffd;
    border: 1px solid #3364c6 !important;
}

/* afw modes buttons */

.submit-btn.longbtn {
    width: 100% !important;
    border: none !important;
    font-size: 22px !important;
    /* font-weight: bold; */
    padding: 20px !important;
    height: 150px;
}

.purplebtn {
    color: #bb58cc;
    background-color: #f7e1fb;
}

.purplebtn:hover {
    background-color: #bb58cc;
    color: #f7e1fb;
}

.purplebtn:active {
    background-color: #bb58cc;
    color: #f7e1fb;
}

.redbtn {
    color: rgb(201,32,29);
    background-color: rgb(252,234,234);
}

.redbtn:hover {
    background-color: rgb(201,32,29);
    color: rgb(252,234,234);
}

.redbtn:active {
    background-color: rgb(201,32,29);
    color: rgb(252,234,234);
}


.yellowbtn {
    color: rgb(177,126,60);
    background-color: rgb(253,246,228);    
}

.yellowbtn:hover {
    background-color: rgb(177,126,60);
    color: rgb(253,246,228);    
}

.yellowbtn:active {
    background-color: rgb(177,126,60);
    color: rgb(253,246,228);    
}

.greenbtn {
    color: rgb(23,112,56) !important;
    background-color: rgb(231,242,234) !important;
}

.greenbtn:hover {
    background-color: rgb(23,112,56) !important;
    color: rgb(231,242,234) !important;
}

.greenbtn:active {
    background-color: rgb(23,112,56) !important;
    color: rgb(231,242,234) !important;
}

.bluebtn {
    color: rgb(37,98,178);
    background-color: rgb(233,241,254);
}

.bluebtn:hover {
    background-color: rgb(37,98,178);
    color: rgb(233,241,254);
}

.bluebtn:active {
    background-color: rgb(37,98,178);
    color: rgb(233,241,254);
}

/* afw modes buttons */

.darkbluebtn {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.darkbluebtn:hover {
    background-color: #286090;
    border-color: #204d74;
}

.darkbluebtn:active {
    background-color: #286090;
    border-color: #204d74;
}

.editbtn {
    color: #fff;
    /* background-color: #3b4e5a; */
    border-style: none;
    /* border-width: 0px; */
    /* border-color: #0a0a0a; */
    background-image: url(../../lib/images/edit_w_24.png) !important;
    background-size: 16px 16px !important;
    background-repeat: no-repeat !important;
    background-position: 15px 6px !important;
    min-width: 120px;
    height: 30px;
    padding-top: 3px !important;
    border-radius: 12px;
    cursor: pointer;
    touch-action: manipulation;
    vertical-align: middle;
    font-size: 16px !important;
    font-family: rgt !important;
    font-weight: normal !important;
    text-decoration: none !important;
}

.page-edit-locked{
    border-style: none;
    background-image: url(../../lib/images/edit-locked.png) !important;
    background-size: 24px 24px !important;
    background-repeat: no-repeat !important;
    background-position: 15px 1px !important;
    min-width: 120px;
    max-width: 120px;
    height: 30px;
    padding-top: 3px !important;
}

.hzm_editbtn {
    color: #293d5d;
    border-style: none;
    background-image: url(../../lib/images/pencil.png) !important;
    background-size: 19px 19px !important;
    background-repeat: no-repeat !important;
    background-position: 25px 1px !important;
    min-width: 220px;
    max-width: 220px;
    height: 30px;
    padding-top: 3px !important;
    border-radius: 12px;
    cursor: pointer;
    touch-action: manipulation;
    vertical-align: middle;
    font-size: 16px !important;
    font-family: maghreb, rgt !important;
    font-weight: bold !important;
    text-decoration: none !important;
}

.dark_editbtn {
    color: #293d5d;
    border-style: none;
    background-image: url(../../lib/images/editC.png) !important;
    background-size: 24px 24px !important;
    background-repeat: no-repeat !important;
    background-position: 15px 1px !important;
    min-width: 120px;
    max-width: 120px;
    height: 30px;
    padding-top: 3px !important;
    border-radius: 12px;
    cursor: pointer;
    touch-action: manipulation;
    vertical-align: middle;
    font-size: 16px !important;
    font-family: maghreb, rgt !important;
    font-weight: bold !important;
    text-decoration: none !important;
}


.wizardbtn {
    padding: 4px 6px;
    text-decoration: none;
    font-size: 18px;
    font-family: saharat, maghreb, rgt !important;
    font-weight: normal;
    border: 0px;
    border-radius: 2px;
    min-width: 120px;
    text-align: center !important;
    line-height: 2;
}

.togglebtn {
    color: #3463d0;
    border-style: none;
    box-shadow: none !important;
    font-weight: bold;
    text-align: right;
    margin-right: -10px !important;
}

.togglebtn:hover {
    background-color: #efefef;
    border-color: #adadad;
}

.togglebtn:disabled {
     color: #999 !important;
}

.togglebtn:active {
    background-color: #e6e6e6;
    border-color: #adadad;
}


.toggledbtn {
    color: #d06334;
    border-style: none;
    box-shadow: none !important;
    font-weight: bold;
    text-align: right;
    margin-right: -10px !important;
}

.toggledbtn:hover {
    background-color: #efefef;
    border-color: #adadad;
}

.toggledbtn:disabled {
     color: #999 !important;
}

.toggledbtn:active {
    background-color: #e6e6e6;
    border-color: #adadad;
}


/***   FOOTER   ***/


.footer_bg {
    /* background-image: url(../../external/pic/bg-footer.jpg); */
    background-color: #fff;
    background-size: contain;
    float: right;
    padding: 15px;
    width: 100%;
    margin-top: 0px;
}

.rowfooter {
    max-width: 62.5rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #0f2951;
    max-width: none;
}

img.footer_img {
    height: 34px !important;
}

div.footer_container > div.rowfooter {
    background-color: #fff;
}

.rowfooter.footer {
    background-color: #fff;
    width: 100%;
    max-width: none !important;
    margin: 0;
    float: right;
    padding: 15px;
}

.rowfooter:not(.expanded) .rowfooter {
    max-width: none;
    width: 100%;
}

div.column-block>h3 {
    color: #a18314;
    font-size: 1.3em;
    width: 100%;
    /* border-bottom: 1px solid #f1ca3b00; */
}

.whiteFont {
    color: #0f2951;
    font-family: title;
}

div#footer_div {
    padding-bottom: 50px;
    border-bottom: 10px double #0f2951;
    margin-bottom: 100px;
}

.hzm-relative-loader-div {
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 170%;
    /* color: #da5815; */
    vertical-align: middle;
    padding-top: 0;
    z-index: 9999;
}

.hzm-loading-div.relative {
    background-image: url(../../lib/images/spinner.gif);
}

.hzm-loading-div {
    position: sticky;
    top: 80px;
    display: block;
    left: 0px;
    background-color: #edf8ff00;
    background-image: url(../../lib/images/adm-loader.gif);
    background-size: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 0;
    height: 260px;
    min-width: 400px;
    min-height: 200px;
    text-align: center;
    font-size: 100%;
    color: #101f59;
    /* vertical-align: middle; */
    padding-top: 25px;
    padding-bottom: 10px;
    z-index: 9999999;
}

